body {
    padding-bottom: 20px;
    background-color:rgba(155, 173, 66, 0.24);
    padding-top: 70px; 
    /*font-size:20px;*/
    font-family: 'Bree Serif', serif;
}

.Firstheader {
     font-family: 'Bree Serif', serif;
     font-style:italic;
     color:slategrey;
     text-shadow: 0.5px 1px 0.5px #8E8E8E;
     font-size:20px;
     background-image: url("/images/lime4.jpg");
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    text-align:left;
    background-repeat:no-repeat;
    background-size:cover;
    padding:2%;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#dashboardPage .blak, #dashboardPage .badge{
    font-family: 'Sigmar One', cursive;
    text-align:center; 
    background-color:black; 
    color:chartreuse;
    font-size: 2rem;
}
.blak {
    font-family: 'Sigmar One', cursive;
    text-align:center;
    font-size: 2rem;
    text-emphasis-color:aqua;
    box-shadow:10px 10px 5px #538234;
}
.parallax2 .blak h1{
    font-family: 'Sigmar One', cursive;
    text-align:center; 
    background-color:black; 
    color:chartreuse;
    font-size: 3rem;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

 /*Hide/rearrange for smaller screens*/ 
@media screen and (max-width: 767px) {
   Hide captions 
  .carousel-caption {
    display: none
  }
}
.parallax2 h1 {
    font-family: 'Sigmar One', cursive;
    color: #538234;
    font-size: 3rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 1.2;
    display: block;
    font-weight: bold;
    background-color:lightgray;
}
.caption h3 {
    font-size:4.5em;
    font-family:Aharoni;
    font-weight:600;
    border:solid 1px #5dfe00;
    text-shadow:1px 6px 2px #5dfe00;
}
.menu {
    display: block;
}
.menuLink a .caption {
  position: absolute;
  margin-bottom: 8px;
  border-radius: 8px;
  width: 92%;
  height: 98%;
  opacity: 0;
  padding-top: 5%;
  box-shadow: 4px 2px 6px #8E8E8E; 
  background-color: rgba(57, 135, 12, 0.22);
  -webkit-box-shadow: 4px 2px 6px #8E8E8E;
  /*-moz-box-shadow:rgba(57, 135, 12, 0.11);*/
}
.menuLink .caption .caption-content {
    color: black;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Shrikhand', cursive;*/ 
    font-style:italic;
    text-align:center;
}
.menuLink .caption:hover {
  opacity: 1; }
.menuLink img {
    height: 200px;
    max-width: 70%;
    margin-left: 15%;
}
/*.welcome2 {
    text-align:left;
    background: no-repeat round url("/images/ban22.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding:2%;
}*/
/*.welcome2 Firstheader {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    background-image:url("/images/ban22.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding:2%;
}*/
.navbar {
    background-color: #39870C; 
    z-index:3;
}
.clothpage, .GoodsPage, .MedicalPage, MoneyPage {
    z-index:2;
}
.FormContainer{
    background-color: rgba(57, 155, 12, 0.19);
}
.jumbotron {
    margin-top:150px;
}

#clothpage, #GoodsPage, #MedicalPage, #MoneyPage, #welcome2, #dashboardPage, #thankyouContainer, #FormContainer {
    color: darkgreen;
    /*margin-top:20px;*/
}
#aboutContainer {
    background-image:url(../images/lime4.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
  
.navbar-inverse .navbar-nav > li > a {  
  color: #fff;  
  font-family:Arial;  
  font-size:15px;  
   background-color:transparent;  
}  
  
.navbar-inverse .navbar-nav > li > a:hover,  
.navbar-inverse .navbar-nav > li > a:focus{  
  color: chartreuse;      
}

.navbar {
    position: fixed;
    top: 2.6px;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.bannerTop {
    position: fixed;
    z-index:-1;
    width:100%;
    padding-bottom:200px;
}
#user-images {
    width:40px;
    height:40px;
}
.parallax1 {
    /* The image used */
    background-image: url("/images/banner0.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .CustomerForm {
    /* The image used */
    background-image: url("/images/lime8.png");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0c4f12;
    color: white;
    margin:5px;
}
 .labels {
     font-style:italic;
     color:white;
     text-shadow: 2px 2px 5px #000;
     font-size:18px;
 }
 
 #footer { position: fixed; bottom: 0; height: 30px; background: #000; width: 100%; text-align: center; color : #fff;}

 