body {
    padding-bottom: 20px;
    z-index: -2;
    background-color:rgba(137, 159, 33, 0.56);
    color:white;
    padding-top: 70px; 
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
.caption h3 {
    font-size:4.5em;
    font-family:Aharoni;
    font-weight:600;
    border:solid 1px black;
    text-shadow:1px 6px 2px #ffd800;
}
.menu {
    display: block;
}
.menuLink a .caption {
  background-color: rgba(137, 159, 33, 0.56);
  position: absolute;
  border: 1px solid #151515;
  margin-bottom: 8px;
  border-radius: 8px;
  width: 92%;
  height: 98%;
  opacity: 0;
  padding-top: 20%;
  box-shadow: 4px 2px 6px #8E8E8E; 
  -webkit-box-shadow: 4px 2px 6px #8E8E8E;
}
.menuLink .caption .caption-content {
    color: black;
    font-family: 'Quicksand', sans-serif; 
    text-align:center;
}
.menuLink .caption:hover {
  opacity: 1; }
.menuLink img {
    height: 300px;
    max-width: 100%;
    padding-bottom: 1%;
}
.welcome {
     background-image:url("/images/ban22.jpg");
     background-repeat:no-repeat;
     background-size:cover;
}
.navbar {
    background-color: #39870C; 
    z-index:3;
}
.FormContainer, .Dashboard, .clothpage, GoodsPage, .MedicalPage, MoneyPage {
    color: darkgreen;
}

.userForm {
    background-color: #0c4f12;
    color: white;
}

 .navbar-brand{
    background: url("/images/senior-care-logo.png") no-repeat;
    background-size:50px 50px;
    margin:5px;
}
  
.navbar-inverse .navbar-nav > li > a {  
  color: #fff;  
  font-family:Arial;  
  font-size:15px;  
   background-color:transparent;  
}  
  
.navbar-inverse .navbar-nav > li > a:hover,  
.navbar-inverse .navbar-nav > li > a:focus{  
  color: black;      
}

.navbar {
    position: fixed;
    top: 2.6px;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.bannerTop {
    position: relative;
    z-index:-1;
    width:100%;
}