<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Charicare2</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css"/>
        <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css" />
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Kumar+One|Righteous|Shrikhand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sigmar+One" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Kumar+One|Righteous|Shrikhand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sigmar+One" rel="stylesheet">
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="bannerTop"><img src="~/images/banner00.png" alt="banner" /></div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"> <img src="~/images/senior-care-logo.png" style="width: 50px; height:50px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Donate" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                    <li class="nav-pills dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Donate <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" asp-route-id="1">Clothes</a></li>
                            <li><a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" asp-route-id="2">Money</a></li>
                            <li><a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" asp-route-id="3">Goods</a></li>
                            <li><a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" asp-route-id="4">Medical</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>*@
                    @await Html.PartialAsync("_LoginPartial")
                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body">
        @RenderBody()
        <hr />
        <footer id="footer">
            <div class="panel-footer labels" style="background-color:forestgreen;">
                <p>&copy; 2017 - Charicare Seniors help</p>
            </div>
        </footer>
    </div>

    <environment names="Development">
        <script type="text/javascript" src="~/lib/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="~/lib/fusioncharts/fusioncharts.maps.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://use.fontawesome.com/your-embed-code.js"></script> 
        <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
     </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/your-embed-code.js"></script>
        <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="~/lib/fusioncharts/fusioncharts.maps.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
