@model Charicare2.Models.AppViewModels.DonateClothesIndexViewModel

@{
    ViewData["Title"] = "Donate Clothes";
    ViewData["Message"] = @"Clothes accepted
Linens: We are always in need of bath towels, face cloths, twin - size sheets and blankets, standard - size pillows and pillowcases, and sleeping bags.
    Hygiene Items: We are always in need of soap, deodorant, toothbrushes, toothpaste, shaving cream and razors. Travel size is preferred.";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@ViewData["Title"]</h2>
        <img src="~/images/c3.jpg" alt="Clothes" width="1100"/>
    </div>
    <div class="panel-body">
        <p>@ViewData["Message"]</p>
    </div>
</div>


<h3>Please fillout this form</h3>
<div class="well-sm">  
    <form asp-controller="Donate" asp-action="ClothesCreate">
        @Html.Partial("_DonateForm")
    </form>
</div>
<a asp-action="Index">Back to List</a>