@model Charicare2.Models.AppViewModels.DonateGoodsIndexViewModel

@{
    ViewData["Title"] = "Donate Goods supplies";
    ViewData["Mssage"] = "When you donate food, clothing or other goods to The Bowery Mission, you impact the lives of the poor and homeless in New York City. This year, our donors and volunteers helped the Mission provide more than 406,000 meals, 44,700 bags of groceries, and 44,100 articles of clothing to men, women and children in desperate need of help.. ";

}

<div class="GoodsPage">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>@ViewData["Title"]</h2>
            <img src="~/images/g2.jpg" alt="Clothes" width="1100" />
        </div>
        <div class="panel-body">
            <p>@ViewData["Message"]</p>
            <ul>
                <li>Furniture: couches, dressers, dining tables, chairs, bookcases, desks, coffee tables
                <li>Appliances: refrigerators, freezers, microwaves</li>
                <li>Housewares: plates, bowls, silverware, glassware, cooking utensils, pots and pans, TVs, lamps</li>
                <li>Office Supplies and Computers</li>
            </ul>
        </div>
    </div>

    <h3>Please fillout this form</h3>
    <div class="well-sm">
        <form asp-controller="Donate" asp-action="DonateCreate">
            @{Html.RenderPartial("_DonateForm");}
        </form>
    </div>
</div>
<a asp-action="Index">Back to List</a>

