@model Charicare2.Models.AppViewModels.DonateTypeListViewModel

@{
    ViewData["Title"] = "Donate Categories";
    ViewData["Mssage"] = "Your donations to The ChariCare,  help transform lives! It is financial contributions that make it possible for The ChariCare Mission, Seniors helping Camp and hope to the homeless and poor in Ethiopia. ";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>@ViewData["Title"]</h2></div>
    <div class="panel-body">
        <p>@ViewData["Mssage"]</p>
    </div>
</div>
<div class="well ">
    <div class="row">
        <div class="col-md-6 columns">
            <section>
                <a asp-controller="Donate" asp-action="ClothesIndex">
                    <div class="image"><img src="/images/made/" alt="Clothes pic" width="500" height="300" /></div>
                    <h3 class="title">Donate Clothes</h3>
                    @*@Html.DisplayFor(model => model.DonateTypes[0].Name)*@
                </a>
            </section>
        </div>
        <div class="col-md-5 columns">
            <section>
                <a asp-controller="Donate" asp-action="MoneyIndex">
                    <div class="image"><img src="/images/" alt="Money pic" width="500" height="300" /></div>
                    <h3 class="title">Donate Money</h3>
                    @*@Html.DisplayFor(model => model.DonateTypes[1].Name)*@
                </a>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 columns">
            <section>
                <a asp-controller="Donate" asp-action="GoodsIndex">
                    <div class="image"><img src="/images/" alt="Goods pic" width="500" height="300" /></div>
                    <h3 class="title">Donate Goods</h3>
                    @*@Html.DisplayFor(model => model.DonateTypes[2].Name)*@
                </a>
            </section>
        </div>
        <div class="col-md-6 columns">
            <section>
                <a asp-controller="Donate" asp-action="MedicalIndex">
                    <div class="image"><img src="/images/" alt="Medical pic" width="500" height="300" /></div>
                    <h3 class="title">Donate Medical</h3>
                    @*@Html.DisplayFor(model => model.DonateTypes[3].Name)*@
                </a>
            </section>
        </div>
    </div>
</div>