@model Charicare2.Models.AppViewModels.DonateTypeListViewModel

@{
    ViewData["Title"] = "Donate Categories";
    ViewData["Message"] = "Your donations to The ChariCare,  help transform lives! It is financial contributions that make it possible for The ChariCare Mission, Seniors helping Camp and hope to the homeless and poor in Ethiopia. ";
}


<div class="homeContainer">
    <div class="well ">
        <div class="row">
            <div class="col-md-6">
                <div class="menuLink">
                    <a asp-controller="User" asp-action="UserIndex" asp-route-id="1">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>Donate Clothes</h3>
                            </div>
                        </div>
                        <img src="~/images/clothes1.png" alt="Clothes pic" width="500" height="300"/>
                    </a>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="menuLink">
                    <a asp-controller="User" asp-action="UserIndex" asp-route-id="2">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>Donate Money</h3>
                            </div>
                        </div>
                        <img src="~/images/m2.png" alt="Money pic" width="500" height="300"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="menuLink">
                    <a asp-controller="User" asp-action="UserIndex" asp-route-id="3">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>Donate Goods</h3>
                            </div>
                        </div>
                        <img src="~/images/g1.png" alt="Goods pic" width="500" height="300"/>
                    </a>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="menuLink">
                    <a asp-controller="User" asp-action="UserIndex" asp-route-id="4">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>Donate Medical</h3>
                            </div>
                        </div>
                        <img src="~/images/med4.png" alt="Medical pic" width="500" height="300"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>