@model Charicare2.Models.AppViewModels.NewDonateCreateViewModel

<br />
<div class="thankyouContainer">
    <div class="alert alert-success" style="text-align:center">
        <p> Thank you! <b>@Model.Donator</b> for giving so generously.</p>
    </div>
    <div class="alert alert-warning">
        <p>Your online gift today will go to work immediately providing meals, shelter, medical care and long-term recovery for adults.</p>
        <p>Thank you for being a vital partner in this work. Your generosity is transforming lives!</p>
    </div>
    <div class="alert alert-success" style="text-align:center">
        <p>Someone from Customer service will contact you soon!</p>
    </div>
</div>
    <a asp-controller="home" asp-action="Index">Back To Home</a>

