@{
    ViewData["Title"] = "About Our CharityCare charity Center";
}
<div id="aboutContainer" class="blak" >
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center; background-color:black; color:chartreuse;">
            <h2>@ViewData["Title"]</h2>
            @*<p>@ViewData["Message"]</p>*@
        </div>
            <img src="~/images/o8.jpg" alt="Clothes" width="1200" />
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/o2.jpg" alt="Clothes" width="400" />
        </div>
        <div class="col-md-offset-6">
            <img src="~/images/o3.jpg" alt="Clothes" width="400" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/o5.jpg" alt="Clothes" width="400" />
        </div>
        <div col-md-offset-6">
            <img src="~/images/o6.jpg" alt="Clothes" width="400" />
        </div>
    </div>
</div>