@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>



    @*<table width="730" border="0" align="center" cellpadding="10" cellspacing="0">
        <tr>
            <td bgcolor="#FFFFFF">
                <table width="710" border="0" cellpadding="0" cellspacing="1" bgcolor="#BCBEC0">
                    <tr>
                        <td colspan="5">
                            <a href="">
                                <img border="0" src="images/collectibles-head.gif" width="708" height="185" alt="Donate Comic Books Comics charity donation">
                            </a>
                        </td>
                    </tr>
                    <tr bgcolor="#F5F5F5">
                        <td colspan="5">
                            <table width="708" border="0" cellspacing="14" cellpadding="0">
                                <tr>
                                    <td valign="top">
                                        <table width="679" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="background-image: url('images/tlc-con.gif');background-repeat: no-repeat">&nbsp;</td>
                                                <td class="breadcrumb" style="background-image: url('images/tbc-con.gif')">
                                                    <h1>Donate Comic Books - Comic Book Charity Donations</h1>
                                                    <p></p>
                                                </td>
                                                <td style="background-image:url('images/trc-con.gif');background-repeat: no-repeat">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="15" style="background-image: url('images/lsw.gif');	">&nbsp;</td>
                                                <td width="649" bgcolor="#FFFFFF" class="contentArea">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                        <tr>
                                                            <td align="center">
                                                                <div class="rowcontainer">
                                                                    <div class="rowleft" style="width:630px; height:563px">
                                                                        <p align="left">
                                                                            <strong>Donate comic books</strong> from the <i>Platinum Age</i>,
                                                                            <i>Golden Age</i>, <i>Silver Age</i>, <i>Bronze Age</i>, or <i>Modern Age</i>
                                                                            to charity and take back some closet space! The <strong>
                                                                                tax deduction
                                                                                benefits
                                                                            </strong> far outweigh having to sell the <i>Comic book collection</i>
                                                                            yourself, and the proceeds benefit families in need across the United
                                                                            States. <strong>Donate comics</strong> from all your favorite superheroes
                                                                            such as <i>Spiderman</i>, <i>Batman</i>, <i>Captain America</i>, <i>
                                                                                Fantastic Four
                                                                            </i> or <i>Conan</i> today!
                                                                        </p>
                                                                        <p>
                                                                            <a href="http://www.collectibleswithcauses.org/donatecomicbooks.htm">
                                                                                <img border="0" src="i/donate-comic-books.jpg" width="626" height="140" alt="Comic Book Charity Donation ">
                                                                            </a><br>
                                                                            <img border="0" src="i/donatecomic-books.gif" width="431" height="41" alt="Donate Comic Books "><br>
                                                                            &nbsp;
                                                                        </p>
                                                                        <div align="center">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="table2">
                                                                                <tr>
                                                                                    <td>
                                                                                        <form method="POST" action="" onsubmit="return FrontPage_Form1_Validator(this)" language="JavaScript" name="FrontPage_Form1">
                                                                                            <input name="Site" type="hidden" value="Collectibleswithcauses.org" />
                                                                                            <input type="hidden" name="subject" value="~~ Comic Book Donation ~~">
                                                                                            <input type="hidden" name="next_url" value="http://www.collectibleswithcauses.org/thanks.html">
                                                                                            <div align="center">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="table3">
                                                                                                    <tr>
                                                                                                        <td width="100%" align="left" colspan="4">
                                                                                                            <h2>
                                                                                                                Donate Comic Books to Charity
                                                                                                            </h2>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="100%" align="left" colspan="4"><font size="1">&nbsp;</font></td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td align="left" style="width: 29%">
                                                                                                            <b>
                                                                                                                <font face="Arial" size="2">
                                                                                                                    Full Name:
                                                                                                                </font>
                                                                                                            </b><br>
                                                                                                            <!--webbot b-value-required="TRUE" bot="Validation" i-minimum-length="2" s-display-name="Name" -->
                                                                                                            <input type="text" name="Name" size="20" style="font-family: Arial; font-size: 9pt; color: #000000; width: 121px;">
                                                                                                        </td>
                                                                                                        <td width="25%" align="left">
                                                                                                            <b>
                                                                                                                <font face="Arial" size="2">
                                                                                                                    Telephone:
                                                                                                                </font>
                                                                                                            </b><br>
                                                                                                            <input type="text" name="Phone" size="20" style="font-family: Arial; font-size: 9pt; color: #000000; width: 123px;">
                                                                                                        </td>
                                                                                                        <td width="25%" align="left">
                                                                                                            <b>
                                                                                                                <font face="Arial" size="2">
                                                                                                                    Email:
                                                                                                                </font>
                                                                                                            </b><br>
                                                                                                            <!--webbot b-value-required="TRUE" bot="Validation" i-minimum-length="3" s-display-name="Email" -->
                                                                                                            <input type="text" name="Email" size="20" style="font-family: Arial; font-size: 9pt; color: #000000; width: 121px;">
                                                                                                        </td>
                                                                                                        <td width="25%" align="left">
                                                                                                            <b>
                                                                                                                <font face="Arial" size="2">
                                                                                                                    City:
                                                                                                                </font>
                                                                                                            </b><br>
                                                                                                            <input type="text" name="City" size="20" style="font-family: Arial; font-size: 9pt; color: #000000; width: 117px;">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="100%" align="left" colspan="4"><font size="1">&nbsp;</font></td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td align="left" style="width: 29%">
                                                                                                            <b>
                                                                                                                <font face="Arial" size="2">
                                                                                                                    State:
                                                                                                                </font>
                                                                                                            </b><br>
                                                                                                            <select name="State" size="1" style="font-family: Arial; font-size: 9pt; color: #000000; ">
                                                                                                                <option>Choose State</option>
                                                                                                                <option value="AL">Alabama</option>
                                                                                                                <option value="AK">Alaska</option>
                                                                                                                <option value="AZ">Arizona</option>
                                                                                                                <option value="AR">Arkansas</option>
                                                                                                                <option value="CA">California</option>
                                                                                                                <option value="CO">Colorado</option>
                                                                                                                <option value="CT">Connecticut</option>
                                                                                                                <option value="DE">Delaware</option>
                                                                                                                <option value="DC">District of Columbia</option>
                                                                                                                <option value="FL">Florida</option>
                                                                                                                <option value="GA">Georgia</option>
                                                                                                                <option value="HI">Hawaii</option>
                                                                                                                <option value="ID">Idaho</option>
                                                                                                                <option value="IL">Illinois</option>
                                                                                                                <option value="IN">Indiana</option>
                                                                                                                <option value="IA">Iowa</option>
                                                                                                                <option value="KS">Kansas</option>
                                                                                                                <option value="KY">Kentucky</option>
                                                                                                                <option value="LA">Louisiana</option>
                                                                                                                <option value="ME">Maine</option>
                                                                                                                <option value="MD">Maryland</option>
                                                                                                                <option value="MA">Massachusetts</option>
                                                                                                                <option value="MI">Michigan</option>
                                                                                                                <option value="MN">Minnesota</option>
                                                                                                                <option value="MS">Mississippi</option>
                                                                                                                <option value="MO">Missouri</option>
                                                                                                                <option value="MT">Montana</option>
                                                                                                                <option value="NE">Nebraska</option>
                                                                                                                <option value="NV">Nevada</option>
                                                                                                                <option value="NH">New Hampshire</option>
                                                                                                                <option value="NJ">New Jersey</option>
                                                                                                                <option value="NM">New Mexico</option>
                                                                                                                <option value="NY">New York</option>
                                                                                                                <option value="NC">North Carolina</option>
                                                                                                                <option value="ND">North Dakota</option>
                                                                                                                <option value="OH">Ohio</option>
                                                                                                                <option value="OK">Oklahoma</option>
                                                                                                                <option value="OR">Oregon</option>
                                                                                                                <option value="XX">Other State</option>
                                                                                                                <option value="PA">Pennsylvania</option>
                                                                                                                <option value="RI">Rhode Island</option>
                                                                                                                <option value="SC">South Carolina</option>
                                                                                                                <option value="SD">South Dakota</option>
                                                                                                                <option value="TN">Tennessee</option>
                                                                                                                <option value="TX">Texas</option>
                                                                                                                <option value="UT">Utah</option>
                                                                                                                <option value="VT">Vermont</option>
                                                                                                                <option value="VA">Virginia</option>
                                                                                                                <option value="WA">Washington</option>
                                                                                                                <option value="WV">West Virginia</option>
                                                                                                                <option value="WI">Wisconsin</option>
                                                                                                                <option value="WY">Wyoming</option>

                                                                                                            </select>
                                                                                                        </td>
                                                                                                        <td width="75%" align="left" colspan="3">
                                                                                                            <div align="center">
                                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="table6">
                                                                                                                    <tr>
                                                                                                                        <td width="241" align="left">
                                                                                                                            <b>
                                                                                                                                <font face="Arial" size="2">
                                                                                                                                    Street Address:
                                                                                                                                </font>
                                                                                                                            </b><br>
                                                                                                                            <input type="text" name="Street" size="37" style="font-family: Arial; font-size: 8pt; color: #000000; width: 181px;">
                                                                                                                        </td>
                                                                                                                        <td align="left">
                                                                                                                            <b>
                                                                                                                                <font face="Arial" size="2">
                                                                                                                                    Free Vacation:
                                                                                                                                </font>
                                                                                                                            </b><br>
                                                                                                                            <select name="Vacation" size="1" style="font-family: Arial; font-size: 9pt; color: #000000; width: 204px;">
                                                                                                                                <option>Skip The Vacation</option>
                                                                                                                                <option>3 Day Hotel Getaway Voucher</option>
                                                                                                                                <option>3 Day Bahamas Cruise Vacation</option>
                                                                                                                                <option>3 or 4 Night Hawaii Vacation</option>
                                                                                                                            </select> <font size="1" face="Arial">
                                                                                                                                <a target="_blank" href="freevacation.html">
                                                                                                                                    <font color="#FF0000">*Vacation Rules</font>
                                                                                                                                </a>
                                                                                                                            </font>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </table>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="100%" align="left" colspan="4"><font size="1">&nbsp;</font></td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="100%" align="left" colspan="4">
                                                                                                            <div align="center">
                                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="table4">
                                                                                                                    <tr>
                                                                                                                        <td style="width: 242px">
                                                                                                                            <p align="left">
                                                                                                                                <b>
                                                                                                                                    <font face="Arial" size="2">
                                                                                                                                        Donation Type:
                                                                                                                                    </font>
                                                                                                                                </b><br>
                                                                                                                                <select name="Donation" size="1" style="font-family: Arial; font-size: 9pt; color: #000000; ">
                                                                                                                                    <option value=""> --</option>
                                                                                                                                    <option value="Clothes">Clothes</option>
                                                                                                                                    <option value="Money">Money </option>
                                                                                                                                    <option value="Goods">Goods</option>
                                                                                                                                    <option value="Medical" selected>Medical </option>
                                                                                                                                </select>
                                                                                                                        </td>
                                                                                                                        <td style="width: 137px">
                                                                                                                            <p align="left">
                                                                                                                                <b>
                                                                                                                                    <font face="Arial" size="2">
                                                                                                                                        Value:
                                                                                                                                    </font>
                                                                                                                                </b><br>
                                                                                                                                <input type="text" name="Value" size="11" style="font-family: Arial; font-size: 9pt; color: #000000; width: 65px;">
                                                                                                                        </td>
                                                                                                                        <td rowspan="3">
                                                                                                                            <p align="left">
                                                                                                                                <b>
                                                                                                                                    <font face="Arial" size="2">
                                                                                                                                        Details / Comments / Best Time to Contact<br>
                                                                                                                                        <textarea rows="4" name="Details" style="width: 259px"></textarea>
                                                                                                                                    </font>
                                                                                                                                </b>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td style="width: 242px">&nbsp;</td>
                                                                                                                        <td style="width: 137px">&nbsp;</td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td colspan="2">
                                                                                                                            <p align="center">
                                                                                                                                <input type="submit" value="Donate Comic Books to Charity" style="float: left">
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </table>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="50%" align="left" colspan="2" rowspan="2">&nbsp;</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="50%" align="left" colspan="2">
                                                                                                            <p align="center">
                                                                                                                &nbsp;
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </div>
                                                                                        </form>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p>
                                                                    <b>Recent Comic Book Donations Include:</b>
                                                                </p>
                                                                <p align="left">
                                                                <p>
                                                                    <b>
                                                                        Thank you for these Great Donations! Enjoy the extra
                                                                        closet space!
                                                                    </b>
                                                                </p>
                                                                <p align="left">
                                                                    <img border="0" src="images/arrow-square.gif" width="11" height="11"> Ben
                                                                    from Brooklyn NY; around 1,100 comics. Tons of marvel from late 80's early
                                                                    90's Image (lots of #1's) DC and mixed companies also.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="15" style="background-image: url('images/rsw.gif');">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="background-image: url('images/blcwh.gif');background-position: left bottom">&nbsp;</td>
                                                <td style="height:15px;background-image: url('http://www.collectibleswithcauses.org/images/bbwh.gif');background-position: bottom" bgcolor="#FFFFFF">&nbsp;</td>
                                                <td style="background-image: url('images/brcwh.gif');background-position: right bottom">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>*@


