@{
    ViewData["Title"] = "Contact";
}
<div class="aboutContainer">
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
    <address>
        ChariCare Seniors Help<br />
        Nashville, TN<br />
        <abbr title="Phone">P:</abbr>
        615.290.1734
    </address>

    <address>
        <strong>Support:</strong> <a href="#"></a><br />
        <strong>Marketing:</strong> <a href="#"></a>
    </address>
</div>
