@model Charicare2.Models.AppViewModels.DonateTypeListViewModel

    @{
        ViewData["Title"] = "Donate Categories";
        ViewData["Mssage"] = "Your donations to The ChariCare,  help transform lives! It is financial contributions that make it possible for The Bowery Mission, Mont Lawn Camp and Mont Lawn City Camp to provide help and hope to the homeless and poor in Nashville City. ";

    }
<br /><br />
    <div class="jumbotron welcome2">
        <div class="well well-lg Firstheader">
            <p>We started ChariCare Inc. to bring hope to the poor and  helpless elderlies located in Ethiopia, Through housing, food programs, and medical care. we can make a difference in their lives. Our goals is to Build Love, provide help and Restore hope those elderlies.
            <p>
                <b>ETHIOPIA AND THE ELDERLY</b>
                Ethiopia has a growing population of elderly people. According to the BBC, the population of the elderly is expected to grow 55% by 2050. As this population increases, so do the number of poor, homeless, and hungry elderly.
            </p>
            <p>
                <b>LACK OF SUPPORT</b>
                There is no provision for programs of social security or other financial support for the elderly. Many are unable to work due to illness or age. These elderly are unable to care for themselves and their grandchildren.
            </p>
            <a class="btn btn-success btn-lg" asp-area="" asp-controller="Donate" asp-action="Index" role="button">Donate    <i class="glyphicon glyphicon-arrow-right"></i></a>
        </div>
    </div>
